<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Briteverify>
            <version>0.1.0</version>
        </Aligent_Briteverify>
    </modules>
    <global>
        <models>
            <aligent_briteverify>
                <class>Aligent_Briteverify_Model</class>
                <resourceModel>aligent_briteverify_resource</resourceModel>
            </aligent_briteverify>
            <aligent_briteverify_resource>
                <class>Aligent_Briteverify_Model_Resource</class>
            </aligent_briteverify_resource>
        </models>
        <blocks>
            <aligent_briteverify>
                <class>Aligent_Briteverify_Block</class>
            </aligent_briteverify>
        </blocks>
        <helpers>
            <aligent_briteverify>
                <class>Aligent_Briteverify_Helper</class>
            </aligent_briteverify>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <aligent_briteverify>
                        <type>singleton</type>
                        <class>aligent_briteverify/observer</class>
                        <method>newsletterSubscribePredispatch</method>
                    </aligent_briteverify>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
        </events>
        <routers>
            <verify>
                <use>standard</use>
                <args>
                    <frontName>verify</frontName>
                    <module>Aligent_Briteverify</module>
                </args>
            </verify>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_briteverify>
                                            <title>BriteVerify</title>
                                        </aligent_briteverify>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>